# Dependencies
**/node_modules

# Configs
.env*
.key
.pem

# Git
.git
.gitignore
.gitattributes

# Docker
**/Dockerfile
docker-compose.(yml|yaml)
.dockerignore

# IDE
.vscode
.idea

# Extra
README.md
LISENSE