# Dependencies
**/node_modules
.pnpm-store

# Configs
../.env
.key
.pem

# Git
.git
.gitignore
.gitattributes

# Docker
*Dockerfile*
deploy/docker-compose.dev.yaml
.dockerignore

# IDE
.vscode*
.idea*

# Generated output
**/dist
**/build

# Extra
README.md
LISENSE