# Code redacrors
*.idea
*.vscode*

# Configs
.env*

# Dependencies
**/node_modules

# Builds
**dist
**build
**migrations

# Extra
*COMMANDS.md
*PROMPTS.md

# Logs
logs
*.log
pnpm-debug.log*
*tsconfig.tsbuildinfo
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# iCloud
*.icloud*
