# Project
*.turbo

# IDEs
*.idea
*.vscode*

# Configs
.env*

# Dependencies
**/node_modules
.pnpm-store

# Builds
**/dist
**/build
**/migrations

# Extra
*COMMANDS.md
*PROMPTS.md

# Logs
logs
*.log
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# iCloud
*.icloud*

# Diagnostic reports (https://nodejs.org/api/report.html)
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
