@theme {
    --color-primary-text: #E8E8E8BA;
    --color-secondary-text: #7ba6e1;
    --color-faded-text: #6c6c6c;
    --color-icon: #5A5A5AFF;

    --color-primary-bg: rgb(9, 9, 41);
    --color-secondary-bg: #142242;

    --color-gradient-start: #060b2c;
    --color-gradient-mid: #2a1e45;
    --color-gradient-end: #11182c;

    --color-main-border: #1e293b;
    --color-main-outline: #0B4C7AA0;
    --color-main-glow: #6366f1;
}